<a href="https://colab.research.google.com/github/AvinashShrivastav/Python-Programming/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program to read three numbers and find their sum and average

In [ ]:
#Program to read three numbers and find sum and average
print('----'*5)
num1 = eval(input('Enter First Number : '))
num2 = eval(input('Enter Second Number : '))
num3 = eval(input('Enter Third Number : '))
sum = num1 + num2 + num3 #Finding sum of three numbers
avg = sum/3 #Finding average of the three numbers
print('----'*5,'\nYou entered : \nFirst Number: ',num1,'\nSecond Number : ',num2,'\nThird Number : ',num3)
print('The sum is ',sum,'and the average is',round(avg,2))

--------------------
Enter First Number : 12
Enter Second Number : 21
Enter Third Number : 22.9
--------------------
You entered :
First Number:  12
Second Number :  21
Third Number :  22.9
The sum is  55.9 and the average is 18.63

Write a program to read the coefficient of a quadratic equation and find its root.

In [ ]:
#Program to read the coefficient of a quadratic equation and find its root.
print('----'*5,'\nPlease Enter the coefficient of the quadratic equation ax^2+bx+c = 0 where a,b,c are reals and a not equal to 0')
a = eval(input('Enter coefficient of x^2 i.e(a) : '))
b = eval(input('Enter coefficient of x i.e(b) : '))
c = eval(input('Enter constant i.e(c) : '))
print('----'*5,'\nThe Quadratic equation you entered is ',str(a)+'x^2'+'+'+str(b)+'x+'+str(c)+' = 0')
d = (b*b - 4*a*c)
root1= (-b + (d)**(0.5))/2*a
root2= (-b - (d)**(0.5))/2*a
if d>0:
  print('Roots are real and distinct','\nRoots :',root1,root2)
if d<0:
  print('Roots are imaginary and distinct','\nRoots :',root1,root2)
if d ==0:
  print('Roots are real and equal','\nRoots :',root1,root2)


# if a!=0 : #Checking if roots are real or not
#   root1 = (-b + d**(1/2))/2*a
#   root2 = (-b - d**(1/2))/2*a

  # print('The Roots are :',root1,',',root2)

--------------------
Please Enter the coefficient of the quadratic equation ax^2+bx+c = 0 where a,b,c are reals and a not equal to 0
Enter coefficient of x^2 i.e(a) : 1
Enter coefficient of x i.e(b) : 2
Enter constant i.e(c) : 3
--------------------
The Quadratic equation you entered is  1x^2+2x+3 = 0
Roots are imaginary and distinct
Roots : (-0.9999999999999999+1.4142135623730951j) (-1-1.4142135623730951j)

Write a ptogram to read 4 numbers and an expression and evaluate the value of the expression

In [ ]:
#Program to read 4 numbers and an expression evaluate it
print('----'*5)
a = eval(input('Enter First Number (a) : '))
b = eval(input('Enter Second Number (b) : '))
c = eval(input('Enter Third Number (c) : '))
d = eval(input('Enter Fourth Number (d) : '))
exp = input('Enter the expression to be calculated : ')
print('----'*5,'\nYou Entered : ',exp,'\nThe value of the expression is',eval(exp))

--------------------
Enter First Number (a) : 12
Enter Second Number (b) : 12
Enter Third Number (c) : 12
Enter Fourth Number (d) : 12
Enter the expression to be calculated : a+b*c-d+a/d
--------------------
You Entered :  a+b*c-d+a/d
The value of the expression is 145.0

Write a program to read 5 numbers and add even numbers

In [ ]:
#Reading Five Numbers
a = int(input("Enter First Number : "))
b = int(input("Enter Second Number : "))
c = int(input("Enter Third Number : "))
d = int(input("Enter Fourth Number : "))
e = int(input("Enter Fifth Number : "))
sum = 0
if a%2 == 0:
  sum += a # sum = sum + a 
if b%2 == 0:
  sum += b
if c%2 == 0:
  sum += c
if d%2 == 0:
  sum += d
if e%2 == 0:
  sum += e
print('----'*5, '\nThe sum of even numbers are', sum)

Enter First Number : 21
Enter Second Number : 22
Enter Third Number : 21
Enter Fourth Number : 2
Enter Fifth Number : 4
--------------------
The sum of even numbers are 28

Write a program to read three numbers and print the maximum of them

In [ ]:
num1 = int(input("Enter First Number : "))
num2 = int(input("Enter Second Number : "))
num3 = int(input("Enter Third Number : "))
if num1>num2 and num2>num3:
  max = num1
elif num2>num1 and num1>num3:
  max = num2
else :
  max = num3
print('----'*5,'\nThe maximum of', num1 ,num2,'and',num3, 'is', max)

Enter First Number : 21
Enter Second Number : 211
Enter Third Number : 3
----*----*----*----*----*
The maximum of 21 211 and 3 is 211

#Day2

Implementation of for loop

WAP to read 10 numbers and find out the maximum and minimum of the number using loop

In [ ]:
#Reading the 10 Number 
max , min = -100000000000000 , 100000000000000000    
#Declaring variables max and min and assigning them the values preassumeably --
# the lowest and highest possible values that the user may enter
for i in range(10):
  num = int(input("Enter the number : "))
  if num >= max :
    max = num 
  if num <= min :
    min = num 
print('The maximum is ',max,'and the minimum is ',min)

Enter the number : 12
Enter the number : 13
Enter the number : 0
Enter the number : -1
Enter the number : 33
Enter the number : 44
Enter the number : 98
Enter the number : 32
Enter the number : 45
Enter the number : 22
The maximum is  98 and the minimum is  -1

WAP to cumpute the sum and average of first n odd number

In [ ]:
#Reading the value n 
n = int(input("Enter the number n : "))
sum = 0
for i in range(1, 2*n+1,2): 
  sum += i
avg = sum/n
print('The sum is ', sum, "and the average is ", avg)

Enter the number n : 5
The sum is  25 and the average is  5.0

WAP to read n and compute and print the value of all factorial of the each term in differnt line.

In [ ]:
#Reading the value n 
n = int(input("Enter the number n : "))
if n ==0:
  print('0!=1')
else:
  while n>=1:
    factorial=1
    for i in range(1,n+1):
      factorial = factorial*i
    print(str(n)+'!=',factorial)
    n=n-1

Enter the number n : 5
5!= 120
4!= 24
3!= 6
2!= 2
1!= 1

Do the following program using for loop


```
sum = 0
i = 0
while i < 10:
  sum = sum + i 
  i = i + 1 
print("sum is", sum)
```

In [ ]:
sum = 0
for i in range(10):
  sum += i
print('sum is',sum)

sum is 45

Generate a table listing tables of number from 1 to 9 in each column

In [ ]:
for j in range(0,10): #Printing Column Names 
  print(j,'| ', end = '')
print()
for i in range(1,10):
  print(i,'| ', end = '') #Printing Row Indices
  for j in range(1,10):
    num = i*j
    if len(str(num))==1:  #Just for making output look somewhat nicer!!
      num = str(num)+' '  # Adding an extra space to single digit numbers
    print(num,' ', end = '')
  print()

0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 |
1 | 1   2   3   4   5   6   7   8   9
2 | 2   4   6   8   10  12  14  16  18
3 | 3   6   9   12  15  18  21  24  27
4 | 4   8   12  16  20  24  28  32  36
5 | 5   10  15  20  25  30  35  40  45
6 | 6   12  18  24  30  36  42  48  54
7 | 7   14  21  28  35  42  49  56  63
8 | 8   16  24  32  40  48  56  64  72
9 | 9   18  27  36  45  54  63  72  81

Generate right-handed half star

In [ ]:
for i in range(1,6):
  print('* '*i)

*
* *
* * *
* * * *
* * * * *

Generate left handed half star

In [ ]:
for i in range(5,-1,-1):
  print('* '*i)

* * * * *
* * * *
* * *
* *
*

Generate half diamond

In [ ]:
for i in range(1,6):
  print('* '*i)
for i in range(4,-1,-1):
  print('* '*i)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

Do the above program in a single loop

In [ ]:
n = 10 
for i in range(1,n+1):
  if i <= n//2:
    print("* "*i+" "*(n-i))
  else:
    print("* "*(n-i)+" "*(i))

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

Flip the above diamond

In [ ]:
n = 10
for i in range(1,n+1):
  if i <= n//2:
    print("  "*(n-i)+" *"*(i))
  else:
    print("  "*i+" *"*(n-i))

                   *
                 * *
               * * *
             * * * *
           * * * * *
             * * * *
               * * *
                 * *
                   *

Generate a diamond

In [ ]:
n = 5
for i in range(4,-1,-1):
  print(' '*i+'* '*(n-i))
for i in range(4,-1,-1):
  print(' '*(n-i)+'* '*(i))

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

Q.4.12
Suppose x = 2 and y = 4. Show the output, if any, of the following code. What is
the output if x = 3 and y = 2? What is the output if x = 3 and y = 3? (Hint: Indent
the statement correctly first.)


```
if x > 2:
  if y > 2:
    z = x + y
    print("z is", z)
else:
  print("x is", x)
```

In [ ]:
x = 2
y = 4
if x > 2: #--> 2 !> 2 => False --> Control moved to line 8
  if y > 2:
    z = x + y 
    print("z is", z)
else:
  print("x is", x) # x is 2

x is 2

In [ ]:
x = 3
y = 4
if x > 2: #---> 3 > 2 => True --> Control moved to line 5
  if y > 2: # 4 > 2 => True --> line 6
    z = x + y # z = 3 + 4 = 7
    print("z is", z) # z is 7
else: # Not executed
  print("x is", x)

z is 7

In [ ]:
x = 3
y = 3
if x > 2: #---> 3 > 2 => True --> Control moved to line 5
  if y > 2: # 3 > 2 => True --> line 6
    z = x + y # z = 3 + 3 = 6
    print("z is", z) # z is 6
else: # Not executed
  print("x is", x)

z is 6

Q.4.13 What is wrong in the following code?



```
if score >= 60.0:
  grade = 'D'
elif score >= 70.0:
  grade = 'C'
elif score >= 80.0:
  grade = 'B'
elif score >= 90.0:
  grade = 'A'
else:
  grade = 'F'
```

There is logical flaw in the code. There isn't a proper criteria defined for assigning the grades. A marks greater than 90 is greater than 80, 70 and so on. The sequence of code matters in these types of code. Alternatively we may make this efficient by defining the criteria more explicitely.

Code 1 : 


```
if score >= 90.0:
  grade = 'A'
elif score >= 80.0:
  grade = 'B'
elif score >= 70.0:
  grade = 'C'
if score >= 60.0:
  grade = 'D'
else:
  grade = 'F'
```
Code 2:


```
if score >= 60.0 and score < 70:
  grade = 'D'
elif score >= 70.0 and score < 80:
  grade = 'C'
elif score >= 80.0 and score < 90:
  grade = 'B'
elif score >= 90.0 and score <= 100:
  grade = 'A'
else:
  grade = 'F'
```

Listing 4.6
Write a program that prompts the user to enter a weight in pounds and height in inches and
then displays the BMI. Note that one pound is 0.45359237 kilograms and one inch is
0.0254 meters.

In [ ]:
# Listing 4.6
print('-'*6+"BMI CAlCULATOR"+'-'*6)
weight = eval(input("Enter weight in pound : "))
height = eval(input("Enter height in inches : "))
#Constants:
poundInKg= 0.45359237
inchInMeters = 0.0254
#Converting weight and height in kg and meters respt.
weightInKg = weight*poundInKg
heightInMeters = height*inchInMeters
#Calculating BMI :
bmi = weightInKg/(heightInMeters**2)
print('-'*24)
print("BMI is", round(bmi,2))
text = "You are"
if bmi < 18.5:
  print(text,"Underweight")
elif bmi < 25:
  print(text,"Normal")
elif bmi < 30:
  print(text,"Overweight")
else:
  print(text,"Obese")

------BMI CAlCULATOR------
Enter weight in pound : 54
Enter height in inches : 46
------------------------
BMI is 17.94
You are Underweight

Listing 4.7 
You are to write a program to compute personal income tax. Your program should prompt
the user to enter the filing status and taxable income and then compute the tax. Enter 0 for
single filers, 1 for married filing jointly, 2 for married filing separately, and 3 for head of
household.
Your program computes the tax for the taxable income based on the filing status. The filing
status can be determined using if statements outlined as follows:


```
if status == 0:
# Compute tax for single filers
elif status == 1:
# Compute tax for married filing jointly
elif status == 2:
# Compute tax for married filing separately
elif status == 3:
# Compute tax for head of household
else:
# Display wrong status
```
For each filing status there are six tax rates. Each rate is applied to a certain amount of
taxable income. For example, of a taxable income of $400,000 for single filers, $8,350 is
taxed at 10%, (33,950 – 8,350) at 15%, (82,250 – 33,950) at 25%, (171,550 – 82,250) at 28%,
(372,950 – 171,550) at 33%, and (400,000 – 372,950) at 35%.
Listing 4.7 gives the solution to compute taxes for single filers.

In [ ]:
a = 5
def fact(a):
  if a == 0:
    return 1
  else:
    return a*fact(a-1)
fact(5)

120

In [ ]:
def sum(a):
  if a ==1:
    return 1
  else:
    return a+sum(a-1)
sum(3)

6

In [ ]:
def sumlist(lst):
  if lst == []:
    return 0
  else :
    return lst[0] + sumlist(lst[1:])
sumlist([1,2,3,5,5,6,4])

26

In [ ]:
def sumlist(lst):
  if lst == []:
    return 0
  else :
    return lst[-1] + sumlist(lst[:len(lst)-1])
sumlist([1,2,3,5,5,6,4])

26

In [ ]:
def sort(lst):
  if lst == []:
    return 
  else:
    return lst[0]<sort(lst[1:])
sort([1,2,22,3,1,0])

TypeError: ignored